/* appling google font over the website  */
body{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
/* styling menu icon */
.nav-menu{
    border: none;
    background-color: #fff;
    font-size: 1.5rem;
    color: #fca61f;
}
/* styling navbar links  */
.navbar-nav a{
    color: black;
    position: relative;
}
#btn {
    display: none;
}

.c-btn {
        text-decoration: none;
}

.navbar-nav a:hover{
    color: #fca61f;
}
.navbar-nav a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    top: 35px;
    position: absolute;
    background: #fca61f;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.navbar-nav a:hover:after { 
    width: 100%; 
    left: 0; 
}
  /* styling contact btn  */
.c-btn{
    border: none;
    background: #fca61f;
    color: #fff;
    font-size: 1.2rem;
}
.size-img{
    padding-top: 22px;
    width:420px;
    height:auto;

}
/* styling home section starts */
.home{
    background: linear-gradient(33deg, rgb(189, 188, 234) 0%, rgba(235,249,255,1) 100%);
    padding: 30px 0px 10px 0px;
}
.home h2{
    font-size: 3rem;
    line-height: 4rem;
}
.c-orange{
    color: #6f34fe;
    font-weight: 700;
    font-size: 4rem;
}
.home p{
    width: fit-content;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.h-btn:hover{
    background: #8757f7;
    color: #fff;
    transition-duration: 1s;
}
.link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #fca61f;
    position: relative;
}
.link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    top: 20px;
    background-color: #6f34fe;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.link:hover{
    color: #6f34fe;
}
.link:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}



/* expertise section starts */
.heading small{
    color: #6f34fe;
    font-size: 1.5rem;
    font-weight: 600;
}
.heading h3{
    margin-top: 0.5rem;
    color: #3f396d;
    font-size: 2.5rem;
    font-weight: 700;
}
.expertise h4{
    color: #3f396d;
    font-weight: 700;
}
.expertise a{
    text-decoration: none;
    color: #fca61f;
}
.expertise a:hover{
    color: #6f34fe;
}
.expertise .service-card{
    text-align: center;
    padding: 15px 15px;
    border-radius: 0.7rem;
}
body {
    overflow-x: hidden; /* Hide horizontal overflow */
}



/* skill section starts */
.skill{
    background-color: rgb(234, 234, 249);
}
.progress-card{
    padding: 10% 15% 10% 15%;
    background-color: #fff;
    text-align: center;
    border-radius: 10%;
}
.progress-card:hover{
    transform: scale(1.1,1.1);
    transition-duration: 0.6s;
}
.circular-progress{
    position: relative;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: conic-gradient(#7d2ae8 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circular-progress::before{
    content: "";
    position: absolute;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #fff;
}
.progress-value{
    position: relative;
    font-size: 1.5rem;
    font-weight: 600;
}
.html-progress{
    color: #fca61f;
}
.javascript-progress{
    color: #6f34fe;
}
.php-progress{
    color: #20c997;
}
.reactjs-progress{
    color: #3f396d;
}
.text{
    font-size: 1.2rem;
    font-weight: 500;
}
.heading p{
    font-size: 1.3rem;
}

/* portfolio section starts */
#myBtnContainer{
    margin-bottom: 45px;
}
#myBtnContainer button{
  border: none;
  color: black;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;   
  display: inline-block;
  margin: 0 25px;
}
#myBtnContainer button:hover{
    color: #fca61f;
}

#myBtnContainer button:focus{
    outline: none;
}
.post .content h4{
    font-size: 1rem;
    font-weight: 700;
}
.post .card{
    border: none;
}


/* blog section starts */
.blog{
    background-color: #f2f2ff;
}
.blog .blogpost .card{
    border: none;
    border-radius: 5%;
}
.nav-bg{
    background-color: #fff;
}

.blog .blogpost small{
    color: #6f34fe;
    font-size: 1.1rem;
}
.blog .blogpost h4,.blogpost a{
    color: #3f396d;
    font-weight: 700;
    margin-top: 1rem;
    text-decoration: none;
}
.blogpost a:hover{
    color: #fca61f;
}
.blog .blogpost .read-more-btn{
    text-decoration: none;
    color: #fca61f;
    font-size: 1.1rem;
}
.blog .blogpost .read-more-btn:hover{
    color: #6f34fe;
}
/* styling modal group  */
.btn-c{
    margin-left: 94%;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 2rem;
    margin-top: -3%;
}
.btn-c i{
    color: #fca61f;
}
.modal-body .content span{
    font-size: 1rem;
}
.modal-body .content small{
    font-size: 1rem;
    color: #6f34fe;
}



/* footer section starts */
footer{
    background-color: #211e39;
}


.social-links button{
    border: none;
    margin-right: 1rem;
    font-size: 1.2rem;
    background-color: #fff;
    padding: 14px 15px 10px 15px;
}
.social-links .dribble{
    color: #f33a7e;
}
.social-links button:hover{
    color: #0000005d;
    transition-duration: 1s;
}
.social-links .dribble:hover{
    background-color: #f33a7e;
}
.social-links .whatsapp{
    color: #25D366;
}
.social-links .whatsapp:hover{
    background-color: #25D366;
}
.social-links .behance{
    color: #255afc;
}
.social-links .behance:hover{
    background-color: #255afc;
}

.custom-flex-center {
    display: flex;
    align-items: center;
}


/*---------------------------About---------------------------*/
.skill-with-progress .row {
    display: flex;
    flex-wrap: wrap;
}

.skill-with-progress .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 10px;
    box-sizing: border-box;
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.heading small {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.c-orange {
    color: #ff6600;
}

.text-muted {
    color: #6c757d;
}

.list-unstyled {
    padding: 0;
    list-style: none;
}

.list-unstyled li {
    font-size: 18px;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-links button {
    background: #ffffff00;
    border: none;
    padding: 10px;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links .leetcode img {
    width: 24px;
    height: 24px;
}

.social-links .instagram {
    color: #e4405f;
}

.social-links .github {
    color: #333;
}

.social-links .linkedin {
    color: #0077b5;
}

.social-links button i {
    font-size: 24px;
}




  .education-content {
    padding: 30px 0px 10px 0px;
  }
  .title {
    margin-bottom: 30px;
    text-align: center;
  }
  .timeline-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 10px;
    background: #f9f9f9;
    height: 100%;
  }
  .timeline {
    padding-left: 40px;
  }
  .timeline-item {
    margin-bottom: 20px;
    position: relative;
  }
  .circle-dot {
    position: absolute;
    left: -20px;
    top: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #007bff;
  }
  .timeline-title {
    margin-bottom: 5px;
    font-size: medium;
  }
  .timeline-text {
    margin-top: 10px;
    font-size:small;
    /* list-style: none; */
  }