* {
    font-family: 'Averta-Semibold';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-left: 15px;
    padding-right: 5px;
}

.left {
    display: flex;
    flex-direction: row;
    /* padding-left: 20px; */
    align-items: center;
}

.icons {
    display: flex;
    flex-direction: columns;
    align-items: center;
    /* cursor: pointer; */
}

#Notify,
#message {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#Notify:hover,
#message:hover {
    transform: scale(1.3);
    /* Increase size by 20% */
}

.popup {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 100px;
    /* Set to desired width */
    height: 100px;
    /* Set to desired height */
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
    top: 50px;
    right: 50px;
}

.path {
    width: 0;
    height: 16px;
    margin: 14.5px 0 17.5px;
    border: solid 0.05px #d6d6d668;
    margin: 16px;
}