label {
    margin-top: 200px;
}

button {
    background-color: rgb(200, 0, 0);
    border: none;
    border-radius: 4px;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    transition: opacity 0.5s;
    text-align: center;
    margin-right: 20px;
    font-weight: 700;
}

button:hover {
    opacity: 0.6;
}

button:active {
    background-color: rgb(62, 62, 62);
    opacity: 0.5;
}

::placeholder {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: darkgray;
}

label,p {
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    color: darkslategray;
}
h1{
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    
}